form {
  border: 2px solid black;
  border-radius: 15%;
  padding: 30px;
}

.addBtn:hover {
  background-color: rgba(179, 146, 106, 0.89);
  transition: transform 250ms;
  transform: scale(1.2);
}

.labelText {
  margin-top: 15px;
  font-weight: 600;
  font-style: oblique;
}

.formStyle {
  width: 400px;
  background-color: rgba(223, 217, 217, 0.795);
  justify-content: center;
}
