.list {
  font-size: larger;
  font-weight: 600;
  background-color: rgba(223, 217, 217, 0.795);
}

.deleteBtn {
  margin-left: 15px;
  color: bisque;
  font-weight: 500;
  width: 70px;
  height: 25px;
  padding: 0;
}

.contactNumber {
  color: #6c4b28d4;
}
